/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url(../src/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --primary-font: 'Poppins';
    --main-orange: rgba(201, 91, 37, 1);
    --main-blue:  rgba(28, 72, 101, 1);
    --main-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(0, 0, 0, 1);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}



/* Header Style */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-areas: "logo search-container navbar";
    align-items: center;
    background-color: var(--main-blue);
    color: var(--main-color);
}

/* Logo Style */
#logo {
    grid-area: logo;
    max-height: 100px;
    width: auto;
}

/* Search Style */
#search-container {
    grid-area: search-container;
    display:flex;
    align-items: center;
    justify-content: center;
}

#search {
    width: 90%;
    height: 2.5rem;
    border-radius: 3px;
    border: none;
    margin: 0.5em;
    padding: 0.5em;
}

#search-button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 2px;
    margin: 0.5em;
    cursor: pointer;
    background-image: url(../img/ico/search-icon.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Navbar Style */
#menu-icon {
    display: none;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    background-image: url(../img/ico/menu.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#menu-icon:hover {
    background-color: var(--main-orange);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#menu-nav {
    grid-area: navbar;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

#navbar {
    width: 100%;
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar li {
    height: 100px;
    width: 100%;
}

#navbar a {
    color: var(--main-color);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

#navbar a:hover {
    background-color: var(--main-orange);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#navbar a.active {
    background-color: var(--main-orange);
}

/* Main Style */
main {
    grid-area: main;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5em;
}


/* Contact Form Style */
#container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;

}

iframe {
    border-radius: 5px;
    margin: 0.2em;
    width: 80%;
    height: 100%;
    min-height: 600px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--main-blue);
    border-radius: 5px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 80%;
}

#content-form label, #content-form input, #content-form textarea, #content-form button {
    font-size: 1.2em;
    margin: 0.1em;
    resize: none;
    width: 100%;
}

#content-form button {
    background-color: var(--main-orange);
    color: var(--main-color);
    margin-top: 0.4em;
}

#content-form button:hover {
    color: var(--main-color);
    background-color: var(--main-blue);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

/* Container Products Style */
.productsrow {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Products Style */
.products { 
    border: 1px solid var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.products:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.product-content {
    height: 100%;
    width: 100%;
}

.products img {
    height: 100%;
}

.products h3 {
    height: 10%;
    font-size: 1.2em;
    color: var(--secondary-color);
}

.products p {
    height: 10%;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

.products a {
    height: 10%;
    width: 80%;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-orange);
    color: var(--main-color);
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.products a:hover {
    background-color: var(--main-blue);
}

/* Footer Style */
footer {
    grid-area: footer;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-areas: "privacity socialmedia contact";
    background-color: var(--main-blue);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#privacity {
    grid-area: privacity;
    display: flex;
    justify-content: center;
    align-items: center;
}


#social {
    grid-area: socialmedia;
    display: flex;
    justify-content: center;
    align-items: center;
}


.socialicons {
    height: 3rem;
    width: 3rem;
    margin: 0.2em;
    display: flex;
}

#contact {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Query Desktop */
@media (max-width: 1300px) {
    body {
        grid-template-columns: repeat(6, 1fr);
    }
    
    header {
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    #menu-icon {
        display: flex;
        grid-area: navbar;

    }
    #navbar {
        display: none;
    }

    #container-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .productsrow {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media Query Tablet */
@media (max-width: 1024px) {
    body {
        grid-template-columns: repeat(6, 1fr);
    }
    
    header {
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    #menu-icon {
        display: flex;
        grid-area: navbar;

    }
    #navbar {
        display: none;
    }

    #container-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .productsrow {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query Mobile */
@media (max-width: 650px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
    }
    
    header {
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    #navbar {
        display: none;
    }

    #container-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .productsrow {
        grid-template-columns: 1fr;
    }

    .products {
        height: 450px;
    }
}